// RTL
html{
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 130vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F7F7F7;
}

a{
  text-decoration: none;
}
// a:focus,
// a:visited{
  
// }


.main-navbar {
  max-height: 100px;
  // box-shadow: 0px 1px 2px rgba($color: #000000, $alpha: 0.06);
  background-color: #fff;

  .navbar {
    position: static;
    padding: 0;
    // padding-top: 12px;
    // padding-bottom: 12px;
    margin-top: 0px;
    align-items: center;
    .navbar-brand{
      padding: 0;
      margin: 0;
      flex:0 0 315px;
      position: relative;
      img{
        max-width: auto;
        width: 100%;
      }
     
    }
  }
  .nav-item {
    // margin-#{$end-direction}: 100px;
    position: relative;
    .nav-link{
      font-size: 20px;
      font-weight: $w-normal;
      color: $dark-one;
      transition: 300ms;
      padding: 0;
      position: relative;
      // &::before{
      //   content: "";
      //   position: absolute;
      //   #{$start-direction}:0;
      //   bottom: -38px;
      //   background-color: $green-color;
      //   height: 3px;
      //   width: 100%;   
      //   width: 0;
      //   opacity: 0;
      //   transition: 300ms;
      // }
      &:hover{
        color: $green-color;
      }
      &.active{
        color: $green-color;
        &::before{
          content: "";
          position: absolute;
          #{$start-direction}:0;
          bottom: -38px;
          background-color: $green-color;
          height: 3px;
          width: 100%;   
          opacity: 1;
          transition: 300ms;
        }
      }
    }
    &:last-child{
      margin-#{$start-direction}: 20px;
    }


    .search-toggle{
      background-color: $green-color;
      border-radius: 4px;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before{
        display: none;
      }
    }
    .search-box{
      position: absolute;
      top: 40px;
      width: 488px;
      #{$end-direction}: -35px;
      box-shadow: 0 10px 36px 4px rgba($color: #000, $alpha: 0.1);
      display: none;
      z-index: 99;
      border-radius: 0px;
      overflow: hidden;
      padding: 10px 25px;
      background-color: #fff;
      height: 85px;
      .search-btn{
        position: absolute;
        top: 27px;
        #{$end-direction}: 25px;
        background: none;
        border: none;
      }
      input[type="text"]{
        padding-#{$start-direction}: 50px;
        padding-#{$end-direction}: 40px;
        padding-top: 22px;
        padding-bottom: 15px;
        border-radius: 0;
        height: auto;
        border: none;
        box-shadow: none;
        line-height: 2;
        font-size: 18px;
        color: $dark-one;
        &::placeholder{
          color: #A8A8AA;
        }
      }
      .exit-btn{
        position: absolute;
        top: 28px;
        #{$start-direction}: 25px;
        background-color: #fff;
        img{

        }
      }
    }
  }
 
  #navbarSupportedContent {
    > .navbar-nav {
      justify-content: flex-end;
      flex-grow: 1;
      padding: 0;
      > .nav-item {
        margin-#{$end-direction}: 100px;
        margin-#{$end-direction}: 10%;
        &:last-child{
        margin-#{$end-direction}: 0;
        }
        &.show-on-fixed {
          display: none;
        }
      }
    }
  }

  &.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    box-shadow: 0 10px 25px rgba($color: #332e2e, $alpha: 0.1);
    .top-nav,
    .navbar-brand {
      display: none;
    }
    .navbar {
      > .d-flex {
        width: 100%;
      }
    }
    #navbarSupportedContent > .navbar-nav {
      justify-content: space-between;
      width: 100%;
      > .nav-item {
        margin: 0;
        &.show-on-fixed {
          display: block;
        }
        > .nav-link {
          padding: 25px 0;
        }
      }
    }
  }
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    margin-#{$start-direction}: auto;
    width: 100%;
  }
}


footer{
  margin-top: auto;
  .top-footer{
    padding-top: 28px;
    padding-bottom: 37px;
    background-color: rgba($color: $main-color, $alpha: 0.1);
    .footer-logo{
      img{}
    }
    .footer-content-box{
      margin-top: 50px;
      p{
        font-size: 18px;
        color: $grey-color2;
        margin-bottom: 0;
      }
    }
  }

}












.breadcrumb-area{
  background-color: rgba($color: $main-color, $alpha: 0.1);
  padding: 50px 0;
  margin-bottom: 62px;
  h2{
    font-size: 50px;
    font-weight: $w-bold;
    color: $main-color;
    // margin-bottom: 24px;
  }
  // .breadcrumb{
  //   background-color: transparent;
  //   padding: 0;
  //   margin: 0;
  //   .breadcrumb-item{
  //     padding: 0;
  //    a{
  //     font-size: 20px;
  //     font-weight: $w-bold;
  //     line-height: 23px;
  //     color: #fff;
  //    }
  //     &.active{
  //       font-size: 20px;
  //       font-weight: $w-normal;
  //       // line-height: 23px;
  //       color: #fff;
  //     }

  //     & + .breadcrumb-item{
  //       position: relative;
  //       padding-#{$start-direction}:32px ;
  //       margin-#{$start-direction}:12px ;
  //       &::before{
  //         content: "";
  //         background-image: url(../images/arrow-right-outline.svg);
  //         width: 20px;
  //         height: 20px;
  //         background-position: center;
  //         background-repeat: no-repeat;
  //         position: absolute;
  //         #{$start-direction}: 0px;
  //         padding-#{$start-direction}:0;
  //         top: 5px;
  //       }
  //     }
  //   }
  // }
}





table{
  thead{
    tr{
      background-color: $main-color;
      th,td{
        font-size: 18px;
        font-weight: $w-normal;
        color: #fff;
        padding: 13px 15px !important;
      }
    }
  }
  tbody{
    tr{
      background-color: #F3F3F3;
      transition: 300ms;
      &:nth-of-type(odd){
        --bs-table-accent-bg:#fff !important
      }
      &:hover{
        background-color:  rgba($color: $green-color, $alpha: 0.12);
        --bs-table-accent-bg: none !important
      }
    }
    td{
      font-size: 16px;
      color: $grey-color;
      padding: 16px 10px !important;
    }
  }
}


.not-full-width{
  max-width: 1075px;
  margin: 0 auto;
}
.white-card{
  background-color: #fff;
  border: 1px solid #E9E9E9;
  padding: 33px 17px ;
}
.form-white-card{
  background-color: #fff;
  border: 1px solid #E9E9E9;
  padding: 40px 30px 45px ;
}
.section-title{
  font-size: 27px;
  font-weight: $w-bold;
  color: $grey-color;
  margin-bottom: 30px;
}

section + section{
  margin-top: 60px;
}


.wezara-details{
  // margin-bottom: 60px;
  .white-card{
    .name {
      font-size: 25px;
      font-weight: $w-bold;
      color: $green-color;
      margin-#{$start-direction}: 15px;
      margin-bottom: 15px;
    }
    .img-box{
      margin-#{$start-direction}:auto ;
      margin-#{$end-direction}: 0 ;
      width: 190px;
      height: 120px;
      border: 1px solid #EBEBEB;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 10px;
      }
    }
    .main-label{
      font-size: 17px;
      font-weight: $w-bold;
      color: $grey-color;
      margin-bottom: 20px;
    }
    .top-label{
      font-size: 17px;
      font-weight: $w-bold;
      color: $grey-color;
      background-color: #fff;
    }
    .description{
      font-size: 17px;
      font-weight: $w-normal;
      line-height: 1.5;
      color: $green-color;
      margin-bottom: 0;
      // margin-top: 20px;
    }
  


    .content-with-label{
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      label{
        width: 235px;
        min-height: 32px;
        flex: 0 0 235px;
        font-size: 17px;
        font-weight: $w-normal;
        color: $grey-color;
        background-color: rgba($color: $grey-color, $alpha: 0.2);
        padding: 5px 10px;
        &.top-label{
          font-size: 17px;
          font-weight: $w-bold;
          color: $grey-color;
          background-color: #fff;
          flex: 0 0 auto;
          width: auto;
        }
      }
      span{
        font-size: 17px;
        font-weight: $w-normal;
        color: $green-color;
        margin-#{$start-direction}: 15px;
        &.phone{
          direction: ltr;
        }
      }
    }
  }
}



.gehat-list{
  &.added-section{
    margin-bottom: 120px;
  }
  .gehat-card{
    background-color: #fff;
    border: 1px solid #E9E9E9;
    padding: 18px 17px ;
    margin-bottom: 30px;
    transition: 300ms;
    position: relative;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    .img-box{
      width: 187px;
      height: 102px;
      margin: auto;
      margin-bottom: 35px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content-box{
     > div{
      font-size: 17px;
      font-weight: $w-normal;
      color: $grey-color;
      border-bottom: 1px solid #E3E6EC;
      padding-bottom: 15px;
      margin-bottom: 14px;
      span{
        font-size: 17px;
        font-weight: $w-normal;
        color: $green-color;
      }
      &:last-of-type{
        border: none;
        padding: 0;
        margin: 0;
      }
     }
     .more-a{
      background-color: $green-color;
      color: #fff;
      font-size: 17px;
      width: 86px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      border-radius: 16px;
      img{
        width: 10px;
        height: 10px;
        margin-#{$start-direction}: 10px;
        transition: 300ms;
      }
      &:hover{
        img{
          transform: translateX(-3px);
        }
      }
     }
    }


    &:hover{
      box-shadow: 0 10px 40px rgba($color: #000, $alpha: 0.1);
    }
  }
}

.Committees-list{
  margin-bottom: 150px;
  .Committee-card{
    background-color: #fff;
    padding: 20px;
    height: 170px;
    border: 1px solid #E9E9E9;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 300ms;
    .img-box{
      width: 48px;
      height: 48px;
      margin-bottom: 15px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content-box{
      h4{
        font-size: 20px;
        font-weight: $w-bold;
        color: $grey-color;
        margin-bottom: 0;
        text-align: center;
        transition: 300ms;
      }
    }
    &:hover{
      box-shadow: 0 10px 40px rgba($color: #000, $alpha: 0.1);  
      .content-box{
        h4{
          color: $green-color;
        }
      }
    }
  }
}





  // checkbox + radio

/*
    checkbox
*/


/* The container */
.form-check {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;

  label {
    padding-#{$start-direction}: 37px;
    cursor: pointer;
    z-index: 99999;
    position: relative;
  }
  
  
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    #{$start-direction}: 0;
    height: 24px;
    width: 24px;
    background-color: #f7f7f7;
    border: 1px solid #5E6065;
    border-radius: 2px;
    transition: 200ms;
  }
  
  /* On mouse-over, add a grey background color */
  // .form-check:hover input ~ .checkmark {
  //   background-color: #ccc;
  // }
  
  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: $green-color;
    border-color: $green-color;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
   input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
   .checkmark:after {
    #{$start-direction}: 7px;
    top: 2px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


}







/*
    raaaaaaaaaadio
*/


/* The container */
.form-radio-inline{
  display: inline-block;
  padding-#{$end-direction}: 24px;
  margin-#{$end-direction}: 12%;
}
.form-radio {
  // display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;

  label {
    padding-#{$start-direction}: 37px;
    cursor: pointer;
    z-index: 99999;
    position: relative;
  }
  
  
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    #{$start-direction}: 0;
    height: 24px;
    width: 24px;
    background-color: #f7f7f7;
    border: 1px solid #5E6065;
    border-radius: 13px;
    transition: 200ms;
  }
  
  /* On mouse-over, add a grey background color */
  // .form-check:hover input ~ .checkmark {
  //   background-color: #ccc;
  // }
  
  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: #f7f7f7;
    border-color: $green-color;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
   input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
   .checkmark:after {
    #{$start-direction}: 4px;
    top: 4px;
    width: 14px;
    height: 14px;
    border-radius: 13px;
    background-color: $green-color;
  }


}








// add-task

.form-white-card {
  .form-cont{
    margin-bottom: 30px;
  }
  .form-label{
    display: block;
    font-size: 18px;
    font-weight: $w-medium;
    color: $grey-color;
    line-height: 1;
    margin-bottom: 15px;
    span{
      font-size: 18px;
      font-weight: $w-light;
      color: #9B9B9B;
    }
  }
  .form-control{
    background-color: #f7f7f7;
    padding: 11px 16px;
    line-height: 1.4;
    height: 50px;
    border: 1px solid #F7F7F7;
    transition: 300ms;
    font-size: 18px;
    font-weight: $w-normal;
    color: $grey-color;
    box-shadow: none;
    &::placeholder{
      color: rgba($color: $dark-one, $alpha: 0.5);
    }
    &:focus{
      border-color: $green-color;
    }
  }
  .form-check-label{
    color: $dark-one;
    font-size: 18px;
    font-weight: $w-medium;
  }


  input[type="date"] {
    text-align: #{$start-direction};
    flex-direction: row-reverse;
  }





}

table{
  .form-check{
    height: 24px !important;
    min-height: 24px !important;
    input{
      height: 24px;
      position: relative;
    }
    label{
      height: 24px;
    }
  }
}

.data-table{
  border-bottom: 2px solid #fff;
  td{
    vertical-align: middle;
    padding: 0px 15px !important;
  }
}


.Relevant-committees{
  // margin-bottom: 60px;
  .form-white-card{
    padding-bottom: 15px;
  }
}



#relatedFields{
  tr{
    &.selected{
      background-color: rgba(136, 120, 82, 0.12);
      --bs-table-accent-bg: none !important;
    }
  }
  .form-check-input:disabled{
    opacity: 0;
  }
}
.data-table{
  input[type="text"] {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: $w-medium;
    color: $grey-color;
    height: 55px;
    padding: 5px 15px;
    &::placeholder{
      color:rgba($color: $grey-color, $alpha: 0.5)
    }
    &:focus{
      border: 1.5px solid $green-color;
    }
  }
}
.delete-btn{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba($color: $green-color, $alpha: 0.12);
  border: 0;
  outline: none;
  box-shadow: none;
}






/*
        Subtasks
*/

.Subtasks{
  margin-bottom: 90px;
  .add-table{
    max-width: 860px;
    margin: 0 auto;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
      font-size: 18px;
      color: $main-color;
      margin-bottom: 30px;
    }
    button{
      border: 1px solid $main-color;
      background-color: transparent;
      box-shadow: none;
      outline: none;
      color: $main-color;
      font-size: 18px;
      width: 215px;
      padding: 13px 20px 10px ;
      img{
        margin-#{$end-direction}: 12px;
      }
    }

  }
  .hidden-section{
    margin-top: -60px;
    display: none;

    .add-btn{
      display: flex;
      justify-content: flex-end;
      button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        background-color: $main-color;
        border: 1px solid $main-color;
        border-radius: 8px;
        color: #fff;
        font-size: 18px;
        padding: 13px 10px 11px;
        margin-bottom: 12px;
        img{
          margin-#{$end-direction}: 12px;
        }
      }
    }
    select {
      background-color: transparent;
    }
  }
}



.save-btn{
  margin-bottom: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      display: flex;
      align-items: center;
      // justify-content: center;
      width: 140px;
      height: 48px;
      background-color: $main-color;
      border: 1px solid $main-color;
      border-radius: 8px;
      color: #fff;
      font-size: 18px;
      padding: 13px 20px 11px;
      margin-bottom: 12px;
      img{
        margin-#{$end-direction}: 20px;
      }
    }
}

select {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 16px;
  color: $main-color;
  appearance: none;
  background-image: url(../images/select-arr.svg);
  background-repeat: no-repeat;
  background-position: 3%;
  padding: 0 5px;
}



.reports-main{
  padding-bottom: 5px;
  .main-card{
    // width: 205px;
    height: 135px;
    padding: 23px 20px 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 10px 40px rgba($color: #000, $alpha: 0.05);
    h4{
      font-size: 20px;
      font-weight: $w-normal;
      color: $main-color;
      margin-bottom:15px;
    }
    .content-box{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .number{
        font-size: 50px;
        font-weight: $w-bold;
        line-height: 1;
        &.color1{
          color: #B62700;
        }
        &.color2{
          color: #AB986B;
        }
        &.color3{
          color: #DB8160;
        }
        &.color4{
          color: #6399E9;
        }


        &.percent{
          padding-#{$start-direction}: 25px;
          position: relative;
          &::before{
            content: "%";
            font-size: 22px;
            position: absolute;
            #{$start-direction}: 0;
            bottom: 10px;
          }
        }
      }
      .img-box{
        img{}
      }
    }
  }
  .owl-carousel-fav{
    .owl-stage{
      padding-bottom: 30px;
    }
    .owl-dots{
      margin-top: -10px !important;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      .owl-dot{
        span{
          background-color: rgba($color: #000, $alpha: 0.1);
          margin: 5px 3px;
        }
        &.active{
          span{
            background-color: $green-color;
          }
        }
      }
    }
  }
}



.white-card.chart-area{
  padding: 35px 25px 25px;
  height: 344px;
  overflow: hidden;
  &.big-chart{
    height: 465px;
  }
  h4{
    font-size: 22px ;
    font-weight: $w-bold;
    color: $grey-color;
    text-align: center;
    margin-bottom: 10px;
  }
}

#pieChart1{
  width: 290px !important;
  height: 290px !important;
  margin: 0 auto;
}
#pieChart2{
  width: 290px !important;
  height: 290px !important;
  margin: 0 auto;
}
#barChart1{
  margin-top: 30px;
}
#barChart2{
  margin-top: 40px;
}



.reports-main .main-card.prog-card{
  justify-content: flex-start;
  align-items: flex-start;
  h4{
    text-align: #{$start-direction};
    margin-bottom: 10px;
  }
}
.progress-section{
  width: 100%;
  .progress-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .progress{
      background-color: #E8E8E8;
      border-radius: 5px;
      height: 7px;
      flex: 0 0 65%;
      .progress-bar{
        border-radius: 5px;
        &.color-1{
          background-color: #6399E9;
        }
        &.color-2{
          background-color: #2ACE97;
        }
        &.color-3{
          background-color: #E96363;
        }
      }
    }
    .content-area{
      display: flex;
      .number{
        font-size: 17px;
        font-weight: $w-bold;
        color: $grey-color;
        margin: 0 10px ;
      }
      .title{
        font-size: 14px;
        color: $grey-color;
      }
    }
  }
}

// LTR
// html[dir="ltr"] {
// }