/*** LTR websites ***/
@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntl-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntl-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntl-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntl-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntl-Bold.otf");
  font-weight: 700;
}

body {
  font-family: "Suisse";
  direction: ltr;
  text-align: left;
}

html[dir="rtl"] body {
  font-family: "Suisse";
}

*,
*:focus,
*:active,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}

.mt-05 {
  margin-top: 5px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.strong {
  font-weight: bold;
}

ul.blue-dots {
  list-style: none;
  line-height: 32px;
}

ul.blue-dots li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

ol {
  list-style: decimal;
  line-height: 32px;
}

ol li {
  padding-left: 10px;
}

.text-left {
  text-align: right !important;
}

.text-right {
  text-align: left !important;
}

.float-left {
  float: right !important;
}

.float-right {
  float: left !important;
}

html {
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 130vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F7F7F7;
}

a {
  text-decoration: none;
}

.main-navbar {
  max-height: 100px;
  background-color: #fff;
}

.main-navbar .navbar {
  position: static;
  padding: 0;
  margin-top: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navbar .navbar .navbar-brand {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 315px;
          flex: 0 0 315px;
  position: relative;
}

.main-navbar .navbar .navbar-brand img {
  max-width: auto;
  width: 100%;
}

.main-navbar .nav-item {
  position: relative;
}

.main-navbar .nav-item .nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #303030;
  -webkit-transition: 300ms;
  transition: 300ms;
  padding: 0;
  position: relative;
}

.main-navbar .nav-item .nav-link:hover {
  color: #887852;
}

.main-navbar .nav-item .nav-link.active {
  color: #887852;
}

.main-navbar .nav-item .nav-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -38px;
  background-color: #887852;
  height: 3px;
  width: 100%;
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.main-navbar .nav-item:last-child {
  margin-left: 20px;
}

.main-navbar .nav-item .search-toggle {
  background-color: #887852;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-navbar .nav-item .search-toggle::before {
  display: none;
}

.main-navbar .nav-item .search-box {
  position: absolute;
  top: 40px;
  width: 488px;
  right: -35px;
  -webkit-box-shadow: 0 10px 36px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 36px 4px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 99;
  border-radius: 0px;
  overflow: hidden;
  padding: 10px 25px;
  background-color: #fff;
  height: 85px;
}

.main-navbar .nav-item .search-box .search-btn {
  position: absolute;
  top: 27px;
  right: 25px;
  background: none;
  border: none;
}

.main-navbar .nav-item .search-box input[type="text"] {
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 22px;
  padding-bottom: 15px;
  border-radius: 0;
  height: auto;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 2;
  font-size: 16px;
  color: #303030;
}

.main-navbar .nav-item .search-box input[type="text"]::-webkit-input-placeholder {
  color: #A8A8AA;
}

.main-navbar .nav-item .search-box input[type="text"]:-ms-input-placeholder {
  color: #A8A8AA;
}

.main-navbar .nav-item .search-box input[type="text"]::-ms-input-placeholder {
  color: #A8A8AA;
}

.main-navbar .nav-item .search-box input[type="text"]::placeholder {
  color: #A8A8AA;
}

.main-navbar .nav-item .search-box .exit-btn {
  position: absolute;
  top: 28px;
  left: 25px;
  background-color: #fff;
}

.main-navbar #navbarSupportedContent > .navbar-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
}

.main-navbar #navbarSupportedContent > .navbar-nav > .nav-item {
  margin-right: 100px;
  margin-right: 10%;
}

.main-navbar #navbarSupportedContent > .navbar-nav > .nav-item:last-child {
  margin-right: 0;
}

.main-navbar #navbarSupportedContent > .navbar-nav > .nav-item.show-on-fixed {
  display: none;
}

.main-navbar.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  -webkit-box-shadow: 0 10px 25px rgba(51, 46, 46, 0.1);
          box-shadow: 0 10px 25px rgba(51, 46, 46, 0.1);
}

.main-navbar.fixed .top-nav,
.main-navbar.fixed .navbar-brand {
  display: none;
}

.main-navbar.fixed .navbar > .d-flex {
  width: 100%;
}

.main-navbar.fixed #navbarSupportedContent > .navbar-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-navbar.fixed #navbarSupportedContent > .navbar-nav > .nav-item {
  margin: 0;
}

.main-navbar.fixed #navbarSupportedContent > .navbar-nav > .nav-item.show-on-fixed {
  display: block;
}

.main-navbar.fixed #navbarSupportedContent > .navbar-nav > .nav-item > .nav-link {
  padding: 25px 0;
}

.main-navbar .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  width: 100%;
}

footer {
  margin-top: auto;
}

footer .top-footer {
  padding-top: 28px;
  padding-bottom: 37px;
  background-color: rgba(117, 107, 101, 0.1);
}

footer .top-footer .footer-content-box {
  margin-top: 50px;
}

footer .top-footer .footer-content-box p {
  font-size: 16px;
  color: #999999;
  margin-bottom: 0;
}

.breadcrumb-area {
  background-color: rgba(117, 107, 101, 0.1);
  padding: 50px 0;
  margin-bottom: 62px;
}

.breadcrumb-area h2 {
  font-size: 50px;
  font-weight: 700;
  color: #756B65;
}

table thead tr {
  background-color: #756B65;
}

table thead tr th, table thead tr td {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 13px 15px !important;
}

table tbody tr {
  background-color: #F3F3F3;
  -webkit-transition: 300ms;
  transition: 300ms;
}

table tbody tr:nth-of-type(odd) {
  --bs-table-accent-bg:#fff !important
      ;
}

table tbody tr:hover {
  background-color: rgba(136, 120, 82, 0.12);
  --bs-table-accent-bg: none !important
      ;
}

table tbody td {
  font-size: 14px;
  color: #5E6065;
  padding: 16px 10px !important;
}

.not-full-width {
  max-width: 1075px;
  margin: 0 auto;
}

.white-card {
  background-color: #fff;
  border: 1px solid #E9E9E9;
  padding: 33px 17px;
}

.form-white-card {
  background-color: #fff;
  border: 1px solid #E9E9E9;
  padding: 40px 30px 45px;
}

.section-title {
  font-size: 25px;
  font-weight: 700;
  color: #5E6065;
  margin-bottom: 30px;
}

section + section {
  margin-top: 60px;
}

.wezara-details .white-card .name {
  font-size: 23px;
  font-weight: 700;
  color: #887852;
  margin-left: 15px;
  margin-bottom: 15px;
}

.wezara-details .white-card .img-box {
  margin-left: auto;
  margin-right: 0;
  width: 190px;
  height: 120px;
  border: 1px solid #EBEBEB;
}

.wezara-details .white-card .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
}

.wezara-details .white-card .main-label {
  font-size: 15px;
  font-weight: 700;
  color: #5E6065;
  margin-bottom: 20px;
}

.wezara-details .white-card .top-label {
  font-size: 15px;
  font-weight: 700;
  color: #5E6065;
  background-color: #fff;
}

.wezara-details .white-card .description {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #887852;
  margin-bottom: 0;
}

.wezara-details .white-card .content-with-label {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wezara-details .white-card .content-with-label label {
  width: 235px;
  min-height: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 235px;
          flex: 0 0 235px;
  font-size: 15px;
  font-weight: 400;
  color: #5E6065;
  background-color: rgba(94, 96, 101, 0.2);
  padding: 5px 10px;
}

.wezara-details .white-card .content-with-label label.top-label {
  font-size: 15px;
  font-weight: 700;
  color: #5E6065;
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
}

.wezara-details .white-card .content-with-label span {
  font-size: 15px;
  font-weight: 400;
  color: #887852;
  margin-left: 15px;
}

.wezara-details .white-card .content-with-label span.phone {
  direction: ltr;
}

.gehat-list.added-section {
  margin-bottom: 120px;
}

.gehat-list .gehat-card {
  background-color: #fff;
  border: 1px solid #E9E9E9;
  padding: 18px 17px;
  margin-bottom: 30px;
  -webkit-transition: 300ms;
  transition: 300ms;
  position: relative;
}

.gehat-list .gehat-card .img-box {
  width: 187px;
  height: 102px;
  margin: auto;
  margin-bottom: 35px;
}

.gehat-list .gehat-card .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gehat-list .gehat-card .content-box > div {
  font-size: 15px;
  font-weight: 400;
  color: #5E6065;
  border-bottom: 1px solid #E3E6EC;
  padding-bottom: 15px;
  margin-bottom: 14px;
}

.gehat-list .gehat-card .content-box > div span {
  font-size: 15px;
  font-weight: 400;
  color: #887852;
}

.gehat-list .gehat-card .content-box > div:last-of-type {
  border: none;
  padding: 0;
  margin: 0;
}

.gehat-list .gehat-card .content-box .more-a {
  background-color: #887852;
  color: #fff;
  font-size: 15px;
  width: 86px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  border-radius: 16px;
}

.gehat-list .gehat-card .content-box .more-a img {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.gehat-list .gehat-card .content-box .more-a:hover img {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.gehat-list .gehat-card:hover {
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.Committees-list {
  margin-bottom: 150px;
}

.Committees-list .Committee-card {
  background-color: #fff;
  padding: 20px;
  height: 170px;
  border: 1px solid #E9E9E9;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.Committees-list .Committee-card .img-box {
  width: 48px;
  height: 48px;
  margin-bottom: 15px;
}

.Committees-list .Committee-card .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Committees-list .Committee-card .content-box h4 {
  font-size: 18px;
  font-weight: 700;
  color: #5E6065;
  margin-bottom: 0;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.Committees-list .Committee-card:hover {
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.Committees-list .Committee-card:hover .content-box h4 {
  color: #887852;
}

/*
    checkbox
*/
/* The container */
.form-check {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.form-check label {
  padding-left: 37px;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #f7f7f7;
  border: 1px solid #5E6065;
  border-radius: 2px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.form-check input:checked ~ .checkmark {
  background-color: #887852;
  border-color: #887852;
}

.form-check .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.form-check input:checked ~ .checkmark:after {
  display: block;
}

.form-check .checkmark:after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
    raaaaaaaaaadio
*/
/* The container */
.form-radio-inline {
  display: inline-block;
  padding-right: 24px;
  margin-right: 12%;
}

.form-radio {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.form-radio label {
  padding-left: 37px;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.form-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #f7f7f7;
  border: 1px solid #5E6065;
  border-radius: 13px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.form-radio input:checked ~ .checkmark {
  background-color: #f7f7f7;
  border-color: #887852;
}

.form-radio .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.form-radio input:checked ~ .checkmark:after {
  display: block;
}

.form-radio .checkmark:after {
  left: 4px;
  top: 4px;
  width: 14px;
  height: 14px;
  border-radius: 13px;
  background-color: #887852;
}

.form-white-card .form-cont {
  margin-bottom: 30px;
}

.form-white-card .form-label {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #5E6065;
  line-height: 1;
  margin-bottom: 15px;
}

.form-white-card .form-label span {
  font-size: 16px;
  font-weight: 300;
  color: #9B9B9B;
}

.form-white-card .form-control {
  background-color: #f7f7f7;
  padding: 11px 16px;
  line-height: 1;
  height: 48px;
  border: 1px solid #F7F7F7;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 16px;
  font-weight: 400;
  color: #5E6065;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-white-card .form-control::-webkit-input-placeholder {
  color: rgba(48, 48, 48, 0.5);
}

.form-white-card .form-control:-ms-input-placeholder {
  color: rgba(48, 48, 48, 0.5);
}

.form-white-card .form-control::-ms-input-placeholder {
  color: rgba(48, 48, 48, 0.5);
}

.form-white-card .form-control::placeholder {
  color: rgba(48, 48, 48, 0.5);
}

.form-white-card .form-control:focus {
  border-color: #887852;
}

.form-white-card .form-check-label {
  color: #303030;
}

.form-white-card input[type="date"] {
  text-align: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

table .form-check {
  height: 24px !important;
  min-height: 24px !important;
}

table .form-check input {
  height: 24px;
  position: relative;
}

table .form-check label {
  height: 24px;
}

.data-table {
  border-bottom: 2px solid #fff;
}

.data-table td {
  vertical-align: middle;
  padding: 0px 15px !important;
}

.Relevant-committees .form-white-card {
  padding-bottom: 15px;
}

#relatedFields tr.selected {
  background-color: rgba(136, 120, 82, 0.12);
  --bs-table-accent-bg: none !important;
}

#relatedFields .form-check-input:disabled {
  opacity: 0;
}

.data-table input[type="text"] {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #5E6065;
  height: 55px;
  padding: 5px 15px;
}

.data-table input[type="text"]::-webkit-input-placeholder {
  color: rgba(94, 96, 101, 0.5);
}

.data-table input[type="text"]:-ms-input-placeholder {
  color: rgba(94, 96, 101, 0.5);
}

.data-table input[type="text"]::-ms-input-placeholder {
  color: rgba(94, 96, 101, 0.5);
}

.data-table input[type="text"]::placeholder {
  color: rgba(94, 96, 101, 0.5);
}

.data-table input[type="text"]:focus {
  border: 1.5px solid #887852;
}

.delete-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(136, 120, 82, 0.12);
  border: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*
        Subtasks
*/
.Subtasks {
  margin-bottom: 90px;
}

.Subtasks .add-table {
  max-width: 860px;
  margin: 0 auto;
  background-color: #F2F2F2;
  border-radius: 8px;
  padding: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Subtasks .add-table p {
  font-size: 16px;
  color: #756B65;
  margin-bottom: 30px;
}

.Subtasks .add-table button {
  border: 1px solid #756B65;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #756B65;
  font-size: 16px;
  width: 195px;
  padding: 13px 20px 10px;
}

.Subtasks .add-table button img {
  margin-right: 12px;
}

.Subtasks .hidden-section {
  margin-top: -60px;
  display: none;
}

.Subtasks .hidden-section .add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Subtasks .hidden-section .add-btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 40px;
  background-color: #756B65;
  border: 1px solid #756B65;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 13px 10px 11px;
  margin-bottom: 12px;
}

.Subtasks .hidden-section .add-btn button img {
  margin-right: 12px;
}

.Subtasks .hidden-section select {
  background-color: transparent;
}

.save-btn {
  margin-bottom: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.save-btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 48px;
  background-color: #756B65;
  border: 1px solid #756B65;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 13px 20px 11px;
  margin-bottom: 12px;
}

.save-btn button img {
  margin-right: 20px;
}

select {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 14px;
  color: #756B65;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/select-arr.svg);
  background-repeat: no-repeat;
  background-position: 3%;
  padding: 0 5px;
}

@media (min-width: 1400px) {
  .container, .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1314px;
  }
}
/*# sourceMappingURL=styleLTR.css.map */